<div class="container">
	<div class="text-center text-info">Aqui puedes registrar clientes...</div>

	<section>
		<form ng-submit="vm.createCliente()">
			<div class="form-group">
				<label for="">Nombres</label>
				<input class="form-control" type="text" ng-model="vm.cliente.nombres">
			</div>
			<div class="form-group">
				<label for="">Apellidos</label>
				<input class="form-control" type="text" ng-model="vm.cliente.apellidos">
			</div>
			<div class="form-group">
				<label for="">Documento</label>
				<input class="form-control" type="text" ng-model="vm.cliente.documento">
			</div>
			<button class="btn btn-primary" type="submit">Registrar</button>
		</form>
	</section>
</div>